%p#notice= notice

%p
  %b Question:
  = @card.question
%p
  %b Answer:
  = @card.answer
%p
  %b Citation:
  = link_to 'Source', @card.citation, target: '_blank'
%p
  
= link_to 'Edit', edit_card_path(@card) if current_user
= '|' if current_user
= link_to 'Back', cards_path
